* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html {
  background-color: #f3f5f8;
}

body {
  overflow-x: hidden;
  position: relative;
  background-color: #3d535f;
  z-index: -29;
  margin: 0;
  color: white;
}

.backgroundWrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 110vw;
  height: 110vh;
  z-index: -9;
  overflow: hidden;
  animation: lavaLamp 12s infinite;
}

.backgroundSvg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.8s ease;
}

.portBg1 {
  animation-duration: 14s;
  animation-delay: 0s;
}

.portBg2 {
  animation-duration: 16s;
  animation-delay: 2s;
}

@keyframes lavaLamp {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1.2);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
nav {
  width: 100%;
  display: flex;
  margin-bottom: 30px;
  padding-top: 10px;
  justify-content: space-around;
  height: 80px;
  z-index: 11;
  color: white;
}
nav .logo {
  display: flex;
  font-size: 32px;
  font-weight: 800;
  letter-spacing: 3px;
  cursor: default;
  text-transform: uppercase;
}
nav .navItems {
  display: flex;
  margin-top: 10px;
}
nav .navItems li {
  list-style: none;
  margin: 0 15px;
}
nav .navItems li a {
  font-size: 25px;
  font-weight: 500;
  letter-spacing: 3px;
  color: white;
  text-decoration: none;
  text-transform: capitalize;
}
nav .navItems li a i {
  font-size: 30px;
}
nav .mobileNav {
  display: none;
  margin-top: 1px;
}
nav .mobileNav li {
  display: none;
  margin: 0 15px;
}
nav .mobileNav li a {
  font-size: 25px;
  font-weight: 400;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}
nav .navItems li:hover a,
nav .links:hover a,
nav .mobileNav li:hover a {
  color: #0dff70;
}

@media (max-width: 1100px) {
  nav .logo {
    font-size: 26px;
  }
  nav .navItems li a {
    font-size: 18px;
  }
}
@media (max-width: 680px) {
  nav .logo {
    font-size: 24px;
    letter-spacing: 1px;
  }
  nav .navItems {
    display: none;
  }
  nav .navItems li {
    display: none;
  }
  nav .mobileNav {
    display: block;
    margin-top: 5px;
  }
  nav .mobileNav .fa-bars {
    font-size: 24px;
    color: #3d535f;
  }
  nav .openHamburger {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 300px;
  }
  nav .openHamburger .fa-bars {
    width: 75%;
    text-align: right;
  }
  nav .openHamburger li {
    display: flex;
    position: relative;
    width: 100px;
    height: 50px;
    background-color: #3d535f;
    border: 1px solid #0dff70;
    justify-content: center;
    align-items: center;
  }
  nav .openHamburger li a {
    color: #f3f5f8;
    font-size: 18px;
    letter-spacing: 1.5px;
  }
  nav .mobileNav:hover i {
    color: #0dff70;
  }
}
.container {
  width: 100%;
  min-height: calc(100vh - 110px);
  position: relative;
  z-index: 5;
}
.container .wrapper {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  overflow: hidden;
  margin-bottom: 80px;
}
.container .wrapper h1 {
  letter-spacing: 3px;
  font-size: 50px;
  color: #11c95e;
  font-weight: 800;
}
.container .wrapper p {
  display: block;
  width: 90%;
  font-size: 1.4em;
  margin-top: 30px;
}
.container .wrapper .btns {
  width: 100%;
  position: relative;
}
.container .wrapper .btns button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  background-color: #11c95e;
  padding: 8px 14px;
  margin: 15px 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18), 0 1.5px 4px rgba(0, 0, 0, 0.15);
}
.container .wrapper .btns button a {
  text-decoration: none;
  color: #fff;
}
.container .wrapper .btns button:hover {
  background-color: #0dff70;
}
.container h2 {
  font-size: 36px;
  padding: 0 10%;
  margin-bottom: 20px;
  font-family: "poppins", sans-serif;
  color: #3d535f;
}

@media (max-width: 1100px) {
  .container .wrapper h1 {
    font-size: 4em;
  }
  .container .wrapper p {
    font-size: 24px;
    width: 100%;
  }
  .container .wrapper .btns button {
    font-size: 20px;
  }
}
@media (max-width: 680px) {
  .container .wrapper {
    padding: 0 5%;
  }
  .container .wrapper h1 {
    font-size: 36px;
    height: 120px;
  }
  .container .wrapper p {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .container h1 {
    font-size: 30px;
  }
}
.aboutPage {
  width: 90%;
  height: calc(100vh - 110px);
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: end;
}
.aboutPage .myImage {
  width: 34%;
  height: auto;
  align-self: center;
}
.aboutPage .myImage img {
  width: 100%;
  height: auto;
  border-bottom: 2px solid #0dff70;
  text-align: center;
}
.aboutPage .aboutText {
  width: 450px;
  height: 80%;
  padding-bottom: 10px;
  border-bottom: 2px solid #0dff70;
  margin-bottom: 10%;
  align-self: center;
}
.aboutPage .aboutText h1 {
  font-size: 38px;
  color: white;
  margin-bottom: 30px;
}
.aboutPage .aboutText p {
  font-size: 22px;
  color: white;
  font-weight: 400;
}
.aboutPage .aboutText h2 {
  font-size: 32px;
  margin: 20px 0 0 0;
  padding: 0;
  color: white;
}
.aboutPage .aboutText .contact {
  font-size: 20px;
  margin-top: 20px;
}
.aboutPage .aboutText button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: #fff;
  background-color: #3d535f;
  padding: 8px 14px;
  margin: 15px 0;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
.aboutPage .aboutText button a {
  text-decoration: none;
  color: #fff;
}

@media (max-width: 1500px) {
  .aboutPage .myImage {
    width: 40%;
  }
  .aboutPage .aboutText {
    height: 580px;
    margin-bottom: 0;
  }
  .aboutPage .aboutText h1 {
    font-size: 30px;
    margin-bottom: 5px;
  }
  .aboutPage .aboutText p {
    font-size: 16px;
  }
  .aboutPage .aboutText h2 {
    font-size: 24px;
    margin-top: 10px;
  }
  .aboutPage .aboutText .contact {
    font-size: 16px;
    margin-top: 8px;
  }
  .aboutPage .aboutText button {
    font-size: 20px;
    padding: 6px 10px;
  }
}
@media (max-width: 1100px) {
  .aboutPage {
    height: 100%;
    flex-direction: column-reverse;
    align-items: center;
  }
  .aboutPage .myImage {
    margin-top: 20px;
  }
  .aboutPage .myImage img {
    width: 500px;
  }
  .aboutPage .aboutText {
    width: 95%;
    height: 370px;
  }
  .aboutPage .aboutText h2 {
    text-align: center;
    margin-top: 20px;
  }
  .aboutPage .aboutText .contactSection {
    width: 50%;
    margin: 20px auto 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .aboutPage .aboutText .contactSection .contactGroup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .aboutPage .aboutText .contactSection .contactGroup .contact {
    width: 200px;
    height: 40px;
  }
}
@media (max-width: 975px) {
  .aboutPage .myImage {
    width: 400px;
  }
  .aboutPage .myImage img {
    width: 400px;
  }
  .aboutPage .aboutText {
    height: auto;
  }
  .aboutPage .aboutText h1 {
    font-size: 26px;
  }
  .aboutPage .aboutText p {
    font-size: 14px;
  }
  .aboutPage .aboutText h2 {
    font-size: 20px;
  }
  .aboutPage .aboutText .contactSection {
    width: 100%;
    margin-top: 10px;
  }
  .aboutPage .aboutText .contactSection .contact {
    font-size: 14px;
  }
  .aboutPage .aboutText .contactSection button {
    font-size: 16px;
  }
}
.projectsPage {
  width: 90%;
  margin: 0 auto;
  padding: 0 0 20px 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: 400px;
  gap: 20px;
}
.projectsPage .project {
  height: 100%;
  cursor: ns-resize;
}
.projectsPage .project .quickLook {
  width: 100%;
  height: 100%;
  position: relative;
}
.projectsPage .project .quickLook:hover::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  border-radius: 20px;
  pointer-events: none;
  opacity: 1;
  transition: opacity 0.7s ease;
}
.projectsPage .project .quickLook::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.5), transparent);
  border-radius: 20px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.7s ease;
}
.projectsPage .project .quickLook img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border: 2px solid #11c95e;
  border-radius: 20px;
}
.projectsPage .project .textAndLink {
  width: 100%;
  display: none;
}
.projectsPage .project .textAndLink h3 {
  font-size: 36px;
  margin-bottom: 10px;
}
.projectsPage .project .textAndLink p {
  font-size: 20px;
  margin-bottom: 20px;
}
.projectsPage .project .textAndLink ul {
  width: 100%;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}
.projectsPage .project .textAndLink ul li {
  font-size: 20px;
  font-weight: 500;
  padding: 5px 20px;
  margin: 0 10px 10px 0;
  text-align: center;
  border: 1px solid #11c95e;
  border-radius: 30px;
  background-color: #f3f5f8;
  color: #11c95e;
  cursor: default;
}
.projectsPage .project .textAndLink .noMargin {
  margin: 0;
}
.projectsPage .project .textAndLink button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  font-weight: 400;
  color: #fff;
  background-color: #11c95e;
  padding: 8px 14px;
  margin: 15px 0;
  border-radius: 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.18), 0 1.5px 4px rgba(0, 0, 0, 0.15);
}
.projectsPage .project .textAndLink button a {
  text-decoration: none;
  color: #fff;
}
.projectsPage .project .textAndLink button:hover {
  background-color: #0dff70;
}

@media (max-width: 1550px) {
  .projectsPage .project .textAndLink h3 {
    font-size: 30px;
  }
  .projectsPage .project .textAndLink p {
    font-size: 18px;
  }
  .projectsPage .project .textAndLink ul li {
    font-size: 18px;
    padding: 3px 10px;
  }
}
@media (max-width: 1350px) {
  .projectsPage .project .textAndLink h3 {
    font-size: 26px;
  }
  .projectsPage .project .textAndLink p {
    font-size: 16px;
  }
  .projectsPage .project .textAndLink ul li {
    font-size: 16px;
    padding: 3px 10px;
  }
  .projectsPage .project .textAndLink button {
    font-size: 18px;
    padding: 6px 10px;
  }
}
@media (max-width: 950px) {
  .projectsPage .project {
    margin-bottom: 0px;
  }
  .projectsPage .project .textAndLink button {
    margin-bottom: 30px;
  }
}

/*# sourceMappingURL=styles.css.map */
