* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}

html {
  background-color: #f3f5f8;
}

body {
  overflow: hidden;
}

nav {
  width: 100%;
  display: flex;
  margin-top: 10px;
  justify-content: space-around;
  height: 80px;
  z-index: 11;
}
nav .logo {
  display: flex;
  font-size: 32px;
  font-weight: 800;
  color: #3d535f;
  letter-spacing: 3px;
  cursor: pointer;
  text-transform: uppercase;
}
nav .navItems {
  display: flex;
  margin-top: 10px;
}
nav .navItems li {
  list-style: none;
  margin: 0 15px;
}
nav .navItems li a {
  font-size: 25px;
  font-weight: 400;
  color: #3d535f;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}
nav .mobileNav {
  display: none;
  margin-top: 1px;
}
nav .mobileNav li {
  display: none;
  margin: 0 15px;
}
nav .mobileNav li a {
  font-size: 25px;
  font-weight: 400;
  color: #3d535f;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: capitalize;
}
nav .navItems li:hover a,
nav .links:hover a,
nav .mobileNav li:hover a {
  color: #7f00ff;
}
nav .links a {
  font-size: 30px;
  color: #3d535f;
  margin: 25px 10px;
}
nav .links a i {
  margin-top: 10px;
}

.openHamburger li {
  display: block;
  position: relative;
  width: 100px;
  height: 50px;
  background-color: #3d535f;
  border: 1px solid #7f00ff;
  color: #f3f5f8;
}

@media (max-width: 1020px) {
  nav .logo {
    font-size: 26px;
  }
  nav .navItems li a {
    font-size: 18px;
  }
  nav .links a i {
    font-size: 20px;
  }
}
@media (max-width: 680px) {
  nav .logo {
    font-size: 20px;
    letter-spacing: 1px;
  }
  nav .navItems {
    display: none;
  }
  nav .mobileNav {
    display: block;
    margin-top: 5px;
  }
  nav .mobileNav .fa-bars {
    font-size: 20px;
    color: #3d535f;
  }
  nav .mobileNav:hover i {
    color: #7f00ff;
  }
}
.container {
  width: 100%;
  min-height: 100vh;
  background-color: #f3f5f8;
}
.container .wrapper {
  width: 100%;
  height: 100%;
  padding: 0 10%;
  overflow: hidden;
  margin-top: 20px;
}
.container .wrapper .cols {
  width: 70%;
}
.container .wrapper .topline {
  display: block;
  position: relative;
  font-size: 35px;
  letter-spacing: 5px;
  color: #3d535f;
}
.container .wrapper .topline::after {
  position: absolute;
  content: "";
  height: 4px;
  width: 45px;
  bottom: 10px;
  background-color: #7f00ff;
}
.container .wrapper h1 {
  display: block;
  font-size: 6em;
  font-weight: 900;
  color: #3d535f;
}
.container .wrapper .multiText {
  color: #7f00ff;
}
.container .wrapper p {
  display: block;
  width: 90%;
  font-size: 1em;
  color: #3d535f;
  margin-top: 20px;
}
.container .wrapper .btns {
  width: 100%;
  position: relative;
}
.container .wrapper .btns button {
  outline: none;
  border: none;
  cursor: pointer;
  font-size: 25px;
  font-weight: 400;
  color: #FFF;
  background-color: #3d535f;
  padding: 8px 14px;
  margin: 15px 5px;
  letter-spacing: 2px;
  text-transform: capitalize;
  box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);
}
.container .wrapper .btns button:hover {
  background-color: #7f00ff;
}

@media (max-width: 1020px) {
  .container .wrapper h1 {
    font-size: 4em;
  }
  .container .wrapper .topline {
    font-size: 28px;
  }
  .container .wrapper p {
    font-size: 0.85em;
    width: 100%;
  }
  .container .wrapper .btns button {
    font-size: 16px;
  }
}

/*# sourceMappingURL=styles.css.map */
