.aboutPage {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;

  .myImage {
    position: absolute;
    bottom: 0;
    left: 100px;

    img {
      width: 800px;
      height: auto;
      // padding-bottom: 10px;
      border-bottom: 2px solid $site-green;
      text-align: center;
    }
  }

  .aboutText {
    position: absolute;
    top: 20%;
    right: 15%;
    width: 30%;
    padding-bottom: 10px;
    border-bottom: 2px solid $site-green;
    margin-bottom: 120px;

    h1 {
      font-size: 38px;
      color: $site-grey;
      margin-bottom: 30px;
    }

    p {
      font-size: 22px;
      color: $site-grey;
      font-weight: 400;
    }

    h2 {
      font-size: 32px;
      margin: 20px 0 0 0;
      padding: 0;
    }

    .contact {
      font-size: 20px;
      margin-top: 20px;
    }

    button {
      outline: none;
      border: none;
      cursor: pointer;
      font-size: 25px;
      font-weight: 400;
      color: #fff;
      background-color: $site-grey;
      padding: 8px 14px;
      margin: 15px 0;
      letter-spacing: 2px;
      text-transform: capitalize;
      box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);

      a {
        text-decoration: none;
        color: #fff;
      }
    }
  }
}

@media (max-width: 1600px) {
  .aboutPage {
    .aboutText {
      right: 10%;
    }
  }
}

@media (max-width: 1350px) {
  .aboutPage {
    flex-direction: column-reverse;

    .myImage {
      img {
        width: 500px;
      }
    }
    .aboutText {
      width: 80%;
      margin-bottom: 0;
      top: 10%;
      left: 5%;

      h1 {
        font-size: 32px;
        margin-bottom: 10px;
      }

      p {
        font-size: 20px;
      }

      h2 {
        font-size: 28px;
      }

      .contact {
        font-size: 18px;
      }

      button {
        font-size: 22px;
        padding: 6px 10px;
      }
    }
  }
}

@media (max-width: 800px) {
  .aboutPage {

    .myImage {
      left: 10%;
    }

    .aboutText {
      width: 90%;
      
      h1 {
        font-size: 26px;
      }

      p {
        font-size: 16px;
      }

      h2 {
        font-size: 22px;
      }

      .contact {
        font-size: 16px;
        margin-top: 10px;
      }

      button {
        font-size: 20px;
      }
    }
  }
}
