.projectsPage {
    width: 90%;
    min-height: 1vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 40px auto;

    .quickLook {
        img {
            width: 500px;
            height: auto;
            border: 2px solid $site-green;
            border-radius: 20px;
        }
    }

    .textAndLink {
        width: 40%;
        h2 {
            font-size: 36px;
            margin-bottom: 10px;
            color: $site-grey;
        }
        p {
            font-size: 16px;
        }
        button {
            outline: none;
            border: none;
            cursor: pointer;
            font-size: 20px;
            font-weight: 400;
            color: #FFF;
            background-color: $site-grey;
            padding: 8px 14px;
            margin: 15px 5px;
            letter-spacing: 2px;
            text-transform: capitalize;
            box-shadow: 0 15px 10px rgba(0, 0, 0, 0.4);

            a {
                text-decoration: none;
                color: #FFF;
            }
        }

        button:hover {
            background-color: $site-green;
        }
    }

}

@media (max-width: 970px) {
    .projectsPage {
        flex-direction: column;

        .quickLook {
            margin-bottom: 20px;
        }

        .textAndLink {
            width: 70%;
        }
    }
}

@media (max-width: 500px) {
    .projectsPage {
        width: 100%;
        .quickLook {
            width: 400px;

            img {
                width: 400px;
            }
        }
    }
}