.projectsPage {
  width: 90%;
  margin: 0 auto;

  .project {
    width: 80%;
    height: 400px;
    margin: 0 auto 20px auto;
    display: flex;
    justify-content: space-around;
    align-items: center;

    .quickLook {
      img {
        width: 500px;
        height: auto;
        border: 2px solid $site-grey;
        border-radius: 20px;
      }
    }

    .textAndLink {
      width: 40%;
      h3 {
        font-size: 36px;
        margin-bottom: 10px;
        color: $site-grey;
      }
      p {
        font-size: 20px;
        margin-bottom: 20px;
      }

      ul {
        width: 100%;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-bottom: 20px;

        li {
          font-size: 20px;
          font-weight: 500;
          padding: 5px 20px;
          margin: 0 10px 10px 0;
          text-align: center;
          border: 1px solid $site-grey;
          border-radius: 30px;
          background-color: $site-green-dark;
          color: white;
          cursor: default;
        }
      }

      .noMargin {
        margin: 0;
      }

      button {
        outline: none;
        border: none;
        cursor: pointer;
        font-size: 20px;
        font-weight: 400;
        color: #fff;
        background-color: $site-grey;
        padding: 8px 14px;
        margin: 15px 0;
        border-radius: 5px;
        letter-spacing: 2px;
        text-transform: capitalize;
        box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4);

        a {
          text-decoration: none;
          color: #fff;
        }
      }

      button:hover {
        background-color: $site-green;
      }
    }
  }
}

@media (max-width: 1550px) {
  .projectsPage {
    .project {
      .quickLook {
        width: 400px;
        img {
          width: 400px;
        }
      }

      .textAndLink {
        width: 50%;
        h3 {
          font-size: 30px;
        }
        p {
          font-size: 18px;
        }
        ul {
          li {
            font-size: 18px;
            padding: 3px 10px;
          }
        }
      }
    }
  }
}
@media (max-width: 1350px) {
  .projectsPage {
    .project {
      .quickLook {
        width: 300px;
        img {
          width: 300px;
        }
      }

      .textAndLink {
        width: 50%;
        h3 {
          font-size: 26px;
        }
        p {
          font-size: 16px;
        }
        ul {
          li {
            font-size: 16px;
            padding: 3px 10px;
          }
        }
        button {
          font-size: 18px;
          padding: 6px 10px;
        }
      }
    }
  }
}

@media (max-width: 950px) {
  .projectsPage {
    .project {
      flex-direction: column;
      height: 700px;
      margin-bottom: 0px;

      .quickLook {
        width: 70%;

        img {
          width: 100%;
        }
      }

      .textAndLink {
        button {
          margin-bottom: 30px;
        }
      }
    }
  }
}
